name: Vale
on:
  push:
    paths:
      - "**.md"
      - ".vale.ini"
      - ".vale/**"
      - ".github/workflows/vale.yml"
  pull_request:
    paths:
      - "**.md"
      - ".vale.ini"
      - ".vale/**"
      - ".github/workflows/vale.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2
        with:
          files: .
          reporter: github-pr-check
